.contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 100px 15px;
    background-color: #d6ebff;
    gap: 80px;

    &__header {
        display: flex;
        flex-direction: column;
        gap: 30px;
        text-align: center;
        max-width: 350px;

        & h2 {
            font-size: 40px;
            font-weight: 300;
        }
    }
    &__main {
        display: flex;
        gap: 50px;

        &--form {
            text-align: center;
            background-color: white;
            display: flex;
            flex-direction: column;
            border-radius: 10px;
            padding: 20px 40px;
            gap: 30px;
            width: 500px;

            & input,
            textarea {
                width: 100%;
                background-color: #e2e2e2;
                border: none;
                font-size: 15px;
                padding: 10px 20px;
                border-radius: 10px;
                outline: none;
            }

            & textarea {
                resize: none;
                height: 200px;
            }
        }
        &--social {
            justify-content: center;
            color: #ed2878;
            font-weight: 600;
            display: flex;
            flex-direction: column;
            gap: 30px;

            & div {
                display: flex;
                align-items: center;
                gap: 30px;
                max-width: 350px;
            }
            & div:last-child {
                margin: 20px;
            }
        }
    }
}

@media (max-width: 1100px) {
    .contact {
        &__main {
            flex-direction: column;

            &--form {
                padding: 20px 15px;
                width: 100%;
            }
            &--social {
                & div:last-child {
                    margin: 0 auto;
                }
            }
        }
    }
}
