.footer {
    padding: 100px;
    display: flex;
    color: white;
    justify-content: space-between;

    &__pages {
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        & p {
            color: #a2a2a2;
            margin: 10px;
        }
    }
    &__map {
        width: 500px;
        height: 250px;
        object-fit: cover;
        border-radius: 20px;
    }
    &__contacts {
        display: flex;
        flex-direction: column;
        gap: 30px;

        & div {
            display: flex;
            align-items: center;
            max-width: 350px;
            gap: 30px;
        }
    }
}

@media (max-width: 1100px) {
    .footer {
        padding: 30px 15px;
        flex-direction: column;
        gap: 30px;

        &__pages {
            text-align: center;
            & h2 {
                margin: 20px;
            }
        }
        &__map {
            width: 100%;
        }
        &__contacts {
            margin: 0 auto;
        }
    }
}
